<div class="container mb-3">
    <span class="text-center">
        <h1>Add a new car</h1>
        <h3>Add car to be listed for renting</h3>
    </span>
    <div class="card p-4 w-md-50">
        <form #Form1="ngForm" (ngSubmit)="submitform(Form1.form)">
            <div class="mb-3">
                <label for="inputModel" class="form-label">Car Brand and Model</label>
                <input type="text" class="form-control" ngModel name="model" id="inputModel">
              </div>
            <div class="mb-3">
              <label for="inputPic" class="form-label">Image URL</label>
              <input type="url" class="form-control" ngModel name="pic" id="inputPic">
            </div>
            <div class="mb-3">
                <label for="inputImage" class="form-label">Rental rate (per week)</label>
                <input type="number" class="form-control" ngModel name="price" id="inputPrice">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>