<div class="container">
    <h1 class="mb-3 text-center">Forgot Password</h1>
    <div class="card p-4 w-md-50">
        <p>As humans we tend to forget things, enter your email address here and we will help you reset your password!</p>
        <form>
            <div class="mb-3">
                <label for="inputEmail" class="form-label">Email address</label>
                <input type="email" class="form-control" name="emailId" id="inputEmail">
            </div>
            <button type="submit" class="btn btn-primary">Send Email</button>
        </form>
    </div>
</div>