<div class="container flex-container">
    <h1 class="mb-3 text-center">Sign Up</h1>
    <div class="card p-4 w-md-50">
        <p>Hi, welcome to our service! Enter the corresponding details to get started!</p>
        <form>
            <div class="mb-3">
                <label for="inputName" class="form-label">User Name</label>
                <input type="text" class="form-control" name="name" id="inputName">
              </div>
            <div class="mb-3">
              <label for="inputEmail" class="form-label">Email address</label>
              <input type="email" class="form-control" name="emailId" id="inputEmail">
            </div>
            <div class="mb-3">
              <label for="inputPassword" class="form-label">Password</label>
              <input type="password" class="form-control" name="password" id="inputPassword">
            </div>
            <div class="mb-3">
                <label for="inputConfirmPassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" name="confirmPassword" id="inputConfirmPassword">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>